body {
    display: flex;
    flex-direction: column;
    height: 100dvh;
    margin: 0 20%;
    padding: 0;
    text-align: center;
    background: #eff1f5;
    color: #4c4f69;
    font-family: "Roboto";
}

main {
    flex: 1;
    display: flex;
    height: 100%;
    position: relative;
}

textarea {
    flex: 1;
    resize: none;
    font-size: 2rem;
    background: #dce0e8;
    border: none;
    border-radius: 4px;
    color: #414559;
    pointer-events: none;
    user-select: none;
    margin-bottom: 1rem;
    max-width: 100%;
    padding: .5rem;
}

#blocker {
    position: absolute;
    inset: 0;
    border-radius: 4px;
    margin-bottom: 1rem;

    transition: background .2s;
}

header.running + main #blocker {
    background: rgba(210, 15, 57, var(--danger, 0));
}

textarea:focus {
    outline: none;
}

header {
    display: flex;
    width: 100%;
    align-items: center;
}

header h1 {
    display: flex;
    gap: .5rem;
    justify-content: center;
    align-items: center;
}

header #objective {
    flex: 1;
}

header > #left {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

header > #right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
}

header h1 > span {
    transition: opacity .2s;
}

header.running h1 > span {
    opacity: .2;
}

header.waiting h1 > span:last-of-type {
    opacity: 1;
}

header.writing h1 > span:first-of-type {
    opacity: 1;
}

header.writing #kill-timer {
    opacity: 0;
}

header.running #settings,
header.running #save {
    opacity: 0;
}

header.running #objective {
    opacity: 1;
}

header.char #objective-timer,
header.char #objective-word-count,
header.word #objective-timer,
header.word #objective-char-count,
header.time #objective-char-count,
header.time #objective-word-count {
    display: none;
}

#settings,
#save,
#copy {
    border: none;
    background: none;
    color: #ccd0da;
    transition: all .2s;
}

#save {
    z-index: 2;
}

#save:enabled + #copy {
    padding-left: 1rem;
}

#save:enabled:hover + #copy {
    left: 32px;
    opacity: 1;
}

#copy:hover {
    left: 32px;
    opacity: 1;
}

#copy {
    opacity: 0;
    left: 0;
    position: absolute;
}

#settings:enabled:hover,
#save:enabled:hover,
#copy:enabled:hover {
    color: #4c4f69;
    cursor: pointer;
}

#kill-timer,
#objective {
    font-size: 2rem;
    transition: opacity .2s;
}

#kill-timer {
    flex: 1;
    color: #d20f39;
}

#objective {
    transition: color .2s;
}

#objective.success {
    color: #40a02b;
}

#objective-char-count:after {
    content: ' chars';
    font-size: 1.2rem;
    color: #ccd0da;
}

#objective-word-count:after {
    content: ' words';
    font-size: 1.2rem;
    color: #ccd0da;
}

dialog {
    box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0);
    transition: all .2s;
}

dialog::backdrop {
    background: none;
}

dialog[open] {
    border: none;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background: #eff1f5;
   box-shadow: 0 0 0 100vw rgb(140, 143, 161, .5);
    animation: fade-in .2s ease normal;
}

dialog.closing {
    opacity: 0;
    box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0);
}

dialog h3 {
    margin: 0;
}

dialog form {
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

dialog label {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

dialog input,
dialog select {
    box-sizing: border-box;
    width: 5rem;
    border: none;
    border-radius: 4px;
    padding: .2rem;
    text-align: center;
    background: white;
}

label:has(input[type="checkbox"]),
input[type="checkbox"] {
    cursor: pointer;
}

input[type="checkbox"] {
    height: 1.2rem;
}

dialog.time [for="char-objective"],
dialog.time [for="word-objective"],
dialog.char [for="time-objective"],
dialog.char [for="word-objective"],
dialog.word [for="char-objective"],
dialog.word [for="time-objective"] {
    display: none;
}

dialog button {
    --color: #4c4f69;
    border: 2px solid var(--color);
    border-radius: 4px;
    padding: .2rem .5rem;
    background: none;
    color: var(--color);
    font-size: 1rem;
    transition: all .2s;
}

button.apply {
    --color: #40a02b;
}

dialog button:hover {
    color: white;
    background: var(--color);
    cursor: pointer;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
